*{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
body{
    background: #E5E3E0;
    border: 1px solid red;
}
.window{
    width: 900px;
    height: 400px;
    overflow: hidden;
    margin: 20px auto;
}
.images{
    top: 0;
    left: 0;
    display: flex;
    transition: all 1s;
}
.container{
    border: 1px solid black;
}
.container > h1{
    font-family: YOUYUAN;
    color: black;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    width: 900px;
}